body{
  text-align: center;
}

.spawnedItemsTable{
  table-layout: fixed;
  margin: 0 auto;
}

th,
td {
  padding: 10px;
}

th{
  background-color: lightgreen;
}

tbody tr:nth-child(odd) {
  background-color: #87cefa;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #e5e4e2;
}

table {
  text-align: center;
  background-color: black;
}

[type=checkbox] {
  width: 2rem;
  height: 2rem;
  color: dodgerblue;
  background-color: #FFFFFF;
  cursor: pointer;
}

.itemName{
  text-align: left;
}

.count{
  font-weight: bold;
  color: blue;
  font-size: 1.3rem;
}

caption{
  text-align: left;
  font-size: 2rem;
  margin: 1rem;
}

caption > input{
  width: 20rem;
  height: 2rem;
  font-size: 1.5rem;
}